.navbar-header > .navbar-brand {
    margin: -5px;
}

.navbar-header > .navbar-brand > img {
    display: inline-block;
    margin-top: -5px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #337ab7;
}